<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/layouts/header :: head(pageTitle='Signup')"></div>
</head>
<body>
<div th:replace="fragments/layouts/header :: header"></div>

<div class="main">
    <div class="container">
        <div class="row justify-content-md-center form-content">
            <div class="col-5 form-template">
                <div class="form-inner-template">
                    <form th:action="@{/create-user}" method="post" th:object="${user}">
                        <fieldset>
                            <div class="form-field"><h1 class="text-center"><b>Signup</b></h1></div>
                            <div class="form-field" th:if="${param.error}">
                                <div class="alert alert-danger" th:text="${param.error}"></div>
                            </div>
                            <div class="form-group form-field">
                                <input
                                        type="text"
                                        th:field="${user.email}"
                                        name="email"
                                        class="form-control input-lg"
                                        placeholder="Name"
                                        required="true"
                                        autofocus="true"
                                />
                            </div>

                            <div class="form-group form-field">
                                <input
                                        type="text"
                                        th:field="${user.email}"
                                        name="email"
                                        class="form-control input-lg"
                                        placeholder="Email"
                                        required="true"
                                        autofocus="true"
                                />
                            </div>
                            <div class="form-group form-field">
                                <input
                                        type="password"
                                        name="password"
                                        th:field="${user.password}"
                                        class="form-control input-lg"
                                        placeholder="Password"
                                        required="true"
                                />
                            </div>
                            <div class="row justify-content-md-center form-field">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <input
                                            type="submit"
                                            class="btn btn-lg btn-success btn-block font-weight-bold"
                                            value="Submit"
                                    />
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/layouts/footer :: footer"/>
</body>
</html>
